.re-progress-circle {
  position: relative;
  padding: 0;
  margin: 0;

  .re-progress-chart{
  position: absolute;
    top: 0;
    left: 0;
  }

  .re-progress-text {
    display: block;
    position: absolute;
    line-height: 16px;
    font-size: 12px;
  }
}

.re-progress{
  width: 100%;
  height: 16px;

  .re-progress-bar{
    display: inline-block;
    width: 100%;
    height: 6px;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ebeef5;

    .re-progress-bar_inner{
      height: 100%;
      border-radius: 4px;
      box-sizing: border-box;
      line-height: 1;
    }
  }

  .re-progress-text{
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1;
    color: $text-default;
    text-indent: 1em;
  }
  .re-progress-text_inner{
    width: 100%;
    color: $color-black;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1;
    text-align: right;
  }
}
