.a-bounce {
  -webkit-animation: 1s ease;
  -moz-animation: 1s ease;
  -ms-animation: 1s ease;
  animation: 1s ease;
}

.a-bouncein, .a-bounceinT, .a-bounceinR, .a-bounceinB, .a-bounceinL {
  -webkit-animation: 1s ease-out backwards;
  -moz-animation: 1s ease-out backwards;
  -ms-animation: 1s ease-out backwards;
  animation: 1s ease-out backwards;
}

.a-bounceout, .a-bounceoutT, .a-bounceoutR, .a-bounceoutB, .a-bounceoutL {
  -webkit-animation: 1s ease-in forwards;
  -moz-animation: 1s ease-in forwards;
  -ms-animation: 1s ease-in forwards;
  animation: 1s ease-in forwards;
}


/* 弹跳 */
.a-bounce {
  -webkit-animation-name: bounce;

  -moz-animation-name: bounce;

  -ms-animation-name: bounce;

  animation-name: bounce;

}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);

  }

  40% {
    -webkit-transform: translateY(-30px);

  }

  60% {
    -webkit-transform: translateY(-15px);

  }

}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);

  }

  40% {
    -moz-transform: translateY(-30px);

  }

  60% {
    -moz-transform: translateY(-15px);

  }

}

@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);

  }

  40% {
    -ms-transform: translateY(-30px);

  }

  60% {
    -ms-transform: translateY(-15px);

  }

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);

  }

  40% {
    transform: translateY(-30px);

  }

  60% {
    transform: translateY(-15px);

  }

}

/* 弹入 */
.a-bouncein {
  -webkit-animation-name: bouncein;

  -moz-animation-name: bouncein;

  -ms-animation-name: bouncein;

  animation-name: bouncein;

}

@-webkit-keyframes bouncein {
  0% {
    opacity: 0;

    -webkit-transform: scale(0.3);

  }

  50% {
    opacity: 1;

    -webkit-transform: scale(1.05);

  }

  70% {
    -webkit-transform: scale(0.9);

  }

  100% {
    -webkit-transform: scale(1);

  }

}

@-moz-keyframes bouncein {
  0% {
    opacity: 0;

    -moz-transform: scale(0.3);

  }

  50% {
    opacity: 1;

    -moz-transform: scale(1.05);

  }

  70% {
    -moz-transform: scale(0.9);

  }

  100% {
    -moz-transform: scale(1);

  }

}

@-ms-keyframes bouncein {
  0% {
    opacity: 0;

    -ms-transform: scale(0.3);

  }

  50% {
    opacity: 1;

    -ms-transform: scale(1.05);

  }

  70% {
    -ms-transform: scale(0.9);

  }

  100% {
    -ms-transform: scale(1);

  }

}

@keyframes bouncein {
  0% {
    opacity: 0;

    transform: scale(0.3);

  }

  50% {
    opacity: 1;

    transform: scale(1.05);

  }

  70% {
    transform: scale(0.9);

  }

  100% {
    transform: scale(1);

  }

}

/* 弹入-从上 */
.a-bounceinT {
  -webkit-animation-name: bounceinT;

  -moz-animation-name: bounceinT;

  -ms-animation-name: bounceinT;

  animation-name: bounceinT;

}

@-webkit-keyframes bounceinT {
  0% {
    opacity: 0;

    -webkit-transform: translateY(-100px);

  }

  60% {
    opacity: 1;

    -webkit-transform: translateY(30px);

  }

  80% {
    -webkit-transform: translateY(-10px);

  }

  100% {
    -webkit-transform: translateY(0);

  }

}

@-moz-keyframes bounceinT {
  0% {
    opacity: 0;

    -moz-transform: translateY(-100px);

  }

  60% {
    opacity: 1;

    -moz-transform: translateY(30px);

  }

  80% {
    -moz-transform: translateY(-10px);

  }

  100% {
    -moz-transform: translateY(0);

  }

}

@-ms-keyframes bounceinT {
  0% {
    opacity: 0;

    -ms-transform: translateY(-100px);

  }

  60% {
    opacity: 1;

    -ms-transform: translateY(30px);

  }

  80% {
    -ms-transform: translateY(-10px);

  }

  100% {
    -ms-transform: translateY(0);

  }

}

@keyframes bounceinT {
  0% {
    opacity: 0;

    transform: translateY(-100px);

  }

  60% {
    opacity: 1;

    transform: translateY(30px);

  }

  80% {
    transform: translateY(-10px);

  }

  100% {
    transform: translateY(0);

  }

}

/* 弹入-从右 */
.a-bounceinR {
  -webkit-animation-name: bounceinR;

  -moz-animation-name: bounceinR;

  -ms-animation-name: bounceinR;

  animation-name: bounceinR;

}

@-webkit-keyframes bounceinR {
  0% {
    opacity: 0;

    -webkit-transform: translateX(100px);

  }

  60% {
    opacity: 1;

    -webkit-transform: translateX(-30px);

  }

  80% {
    -webkit-transform: translateX(10px);

  }

  100% {
    -webkit-transform: translateX(0);

  }

}

@-moz-keyframes bounceinR {
  0% {
    opacity: 0;

    -moz-transform: translateX(100px);

  }

  60% {
    opacity: 1;

    -moz-transform: translateX(-30px);

  }

  80% {
    -moz-transform: translateX(10px);

  }

  100% {
    -moz-transform: translateX(0);

  }

}

@-ms-keyframes bounceinR {
  0% {
    opacity: 0;

    -ms-transform: translateX(100px);

  }

  60% {
    opacity: 1;

    -ms-transform: translateX(-30px);

  }

  80% {
    -ms-transform: translateX(10px);

  }

  100% {
    -ms-transform: translateX(0);

  }

}

@keyframes bounceinR {
  0% {
    opacity: 0;

    transform: translateX(100px);

  }

  60% {
    opacity: 1;

    transform: translateX(-30px);

  }

  80% {
    transform: translateX(10px);

  }

  100% {
    transform: translateX(0);

  }

}

/* 弹入-从下 */
.a-bounceinB {
  -webkit-animation-name: bounceinB;

  -moz-animation-name: bounceinB;

  -ms-animation-name: bounceinB;

  animation-name: bounceinB;

}

@-webkit-keyframes bounceinB {
  0% {
    opacity: 0;

    -webkit-transform: translateY(100px);

  }

  60% {
    opacity: 1;

    -webkit-transform: translateY(-30px);

  }

  80% {
    -webkit-transform: translateY(10px);

  }

  100% {
    -webkit-transform: translateY(0);

  }

}

@-moz-keyframes bounceinB {
  0% {
    opacity: 0;

    -moz-transform: translateY(100px);

  }

  60% {
    opacity: 1;

    -moz-transform: translateY(-30px);

  }

  80% {
    -moz-transform: translateY(10px);

  }

  100% {
    -moz-transform: translateY(0);

  }

}

@-ms-keyframes bounceinB {
  0% {
    opacity: 0;

    -ms-transform: translateY(100px);

  }

  60% {
    opacity: 1;

    -ms-transform: translateY(-30px);

  }

  80% {
    -ms-transform: translateY(10px);

  }

  100% {
    -ms-transform: translateY(0);

  }

}

@keyframes bounceinB {
  0% {
    opacity: 0;

    transform: translateY(100px);

  }

  60% {
    opacity: 1;

    transform: translateY(-30px);

  }

  80% {
    transform: translateY(10px);

  }

  100% {
    transform: translateY(0);

  }

}

/* 弹入-从左 */
.a-bounceinL {
  -webkit-animation-name: bounceinL;

  -moz-animation-name: bounceinL;

  -ms-animation-name: bounceinL;

  animation-name: bounceinL;

}

@-webkit-keyframes bounceinL {
  0% {
    opacity: 0;

    -webkit-transform: translateX(-100px);

  }

  60% {
    opacity: 1;

    -webkit-transform: translateX(30px);

  }

  80% {
    -webkit-transform: translateX(-10px);

  }

  100% {
    -webkit-transform: translateX(0);

  }

}

@-moz-keyframes bounceinL {
  0% {
    opacity: 0;

    -moz-transform: translateX(-100px);

  }

  60% {
    opacity: 1;

    -moz-transform: translateX(30px);

  }

  80% {
    -moz-transform: translateX(-10px);

  }

  100% {
    -moz-transform: translateX(0);

  }

}

@-ms-keyframes bounceinL {
  0% {
    opacity: 0;

    -ms-transform: translateX(-100px);

  }

  60% {
    opacity: 1;

    -ms-transform: translateX(30px);

  }

  80% {
    -ms-transform: translateX(-10px);

  }

  100% {
    -ms-transform: translateX(0);

  }

}

@keyframes bounceinL {
  0% {
    opacity: 0;

    transform: translateX(-100px);

  }

  60% {
    opacity: 1;

    transform: translateX(30px);

  }

  80% {
    transform: translateX(-10px);

  }

  100% {
    transform: translateX(0);

  }

}

/* 弹出 */
.a-bounceout {
  -webkit-animation-name: bounceout;

  -moz-animation-name: bounceout;

  -ms-animation-name: bounceout;

  animation-name: bounceout;

}

@-webkit-keyframes bounceout {
  0% {
    -webkit-transform: scale(1);

  }

  25% {
    -webkit-transform: scale(0.95);

  }

  50% {
    opacity: 1;

    -webkit-transform: scale(1.1);

  }

  100% {
    opacity: 0;

    -webkit-transform: scale(0.3);

  }

}

@-moz-keyframes bounceout {
  0% {
    -moz-transform: scale(1);

  }

  25% {
    -moz-transform: scale(0.95);

  }

  50% {
    opacity: 1;

    -moz-transform: scale(1.1);

  }

  100% {
    opacity: 0;

    -moz-transform: scale(0.3);

  }

}

@-ms-keyframes bounceout {
  0% {
    -ms-transform: scale(1);

  }

  25% {
    -ms-transform: scale(0.95);

  }

  50% {
    opacity: 1;

    -ms-transform: scale(1.1);

  }

  100% {
    opacity: 0;

    -ms-transform: scale(0.3);

  }

}

@keyframes bounceout {
  0% {
    transform: scale(1);

  }

  25% {
    transform: scale(0.95);

  }

  50% {
    opacity: 1;

    transform: scale(1.1);

  }

  100% {
    opacity: 0;

    transform: scale(0.3);

  }

}

/* 弹出-向上 */
.a-bounceoutT {
  -webkit-animation-name: bounceoutT;

  -moz-animation-name: bounceoutT;

  -ms-animation-name: bounceoutT;

  animation-name: bounceoutT;

}

@-webkit-keyframes bounceoutT {
  0% {
    -webkit-transform: translateY(0);

  }

  20% {
    opacity: 1;

    -webkit-transform: translateY(20px);

  }

  100% {
    opacity: 0;

    -webkit-transform: translateY(-100px);

  }

}

@-moz-keyframes bounceoutT {
  0% {
    -moz-transform: translateY(0);

  }

  20% {
    opacity: 1;

    -moz-transform: translateY(20px);

  }

  100% {
    opacity: 0;

    -moz-transform: translateY(-100px);

  }

}

@-ms-keyframes bounceoutT {
  0% {
    -ms-transform: translateY(0);

  }

  20% {
    opacity: 1;

    -ms-transform: translateY(20px);

  }

  100% {
    opacity: 0;

    -ms-transform: translateY(-100px);

  }

}

@keyframes bounceoutT {
  0% {
    transform: translateY(0);

  }

  20% {
    opacity: 1;

    transform: translateY(20px);

  }

  100% {
    opacity: 0;

    transform: translateY(-100px);

  }

}

/* 弹出-向右 */
.a-bounceoutR {
  -webkit-animation-name: bounceoutR;

  -moz-animation-name: bounceoutR;

  -ms-animation-name: bounceoutR;

  animation-name: bounceoutR;

}

@-webkit-keyframes bounceoutR {
  0% {
    -webkit-transform: translateX(0);

  }

  20% {
    opacity: 1;

    -webkit-transform: translateX(-20px);

  }

  100% {
    opacity: 0;

    -webkit-transform: translateX(100px);

  }

}

@-moz-keyframes bounceoutR {
  0% {
    -moz-transform: translateX(0);

  }

  20% {
    opacity: 1;

    -moz-transform: translateX(-20px);

  }

  100% {
    opacity: 0;

    -moz-transform: translateX(100px);

  }

}

@-ms-keyframes bounceoutR {
  0% {
    -ms-transform: translateX(0);

  }

  20% {
    opacity: 1;

    -ms-transform: translateX(-20px);

  }

  100% {
    opacity: 0;

    -ms-transform: translateX(100px);

  }

}

@keyframes bounceoutR {
  0% {
    transform: translateX(0);

  }

  20% {
    opacity: 1;

    transform: translateX(-20px);

  }

  100% {
    opacity: 0;

    transform: translateX(100px);

  }

}

/* 弹出-向下 */
.a-bounceoutB {
  -webkit-animation-name: bounceoutB;

  -moz-animation-name: bounceoutB;

  -ms-animation-name: bounceoutB;

  animation-name: bounceoutB;

}

@-webkit-keyframes bounceoutB {
  0% {
    -webkit-transform: translateY(0);

  }

  20% {
    opacity: 1;

    -webkit-transform: translateY(-20px);

  }

  100% {
    opacity: 0;

    -webkit-transform: translateY(100px);

  }

}

@-moz-keyframes bounceoutB {
  0% {
    -moz-transform: translateY(0);

  }

  20% {
    opacity: 1;

    -moz-transform: translateY(-20px);

  }

  100% {
    opacity: 0;

    -moz-transform: translateY(100px);

  }

}

@-ms-keyframes bounceoutB {
  0% {
    -ms-transform: translateY(0);

  }

  20% {
    opacity: 1;

    -ms-transform: translateY(-20px);

  }

  100% {
    opacity: 0;

    -ms-transform: translateY(100px);

  }

}

@keyframes bounceoutB {
  0% {
    transform: translateY(0);

  }

  20% {
    opacity: 1;

    transform: translateY(-20px);

  }

  100% {
    opacity: 0;

    transform: translateY(100px);

  }

}

/* 弹出-向左 */
.a-bounceoutL {
  -webkit-animation-name: bounceoutL;

  -moz-animation-name: bounceoutL;

  -ms-animation-name: bounceoutL;

  animation-name: bounceoutL;

}

@-webkit-keyframes bounceoutL {
  0% {
    -webkit-transform: translateX(0);

  }

  20% {
    opacity: 1;

    -webkit-transform: translateX(20px);

  }

  100% {
    opacity: 0;

    -webkit-transform: translateX(-100px);

  }

}

@-moz-keyframes bounceoutL {
  0% {
    -moz-transform: translateX(0);

  }

  20% {
    opacity: 1;

    -moz-transform: translateX(20px);

  }

  100% {
    opacity: 0;

    -moz-transform: translateX(-100px);

  }

}

@-ms-keyframes bounceoutL {
  0% {
    -ms-transform: translateX(0);

  }

  20% {
    opacity: 1;

    -ms-transform: translateX(20px);

  }

  100% {
    opacity: 0;

    -ms-transform: translateX(-100px);

  }

}

@keyframes bounceoutL {
  0% {
    transform: translateX(0);

  }

  20% {
    opacity: 1;

    transform: translateX(20px);

  }

  100% {
    opacity: 0;

    transform: translateX(-200px);

  }

}
